

{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Region ID</th>
                <th scope="col">Region region</th>
                <th scope="col">Region area</th>
                <th scope="col">Region territory</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr >
                <td> {{region.id}} </td>
                <td> {{region.reg}} </td>
                <td> {{region.area}} </td>
                <td> {{region.ter}} </td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_region" data-id="{{region.id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_region" data-id="{{region.id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_region">New Region</button> </td>
            </tr>
        </tbody>
    </table>
 </div>

    <script src="{{ url_for('static', filename='js/region.js') }}"></script>

{% endblock %}
