

{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject ID</th>
                <th scope="col">Subject name</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr >
                <td> {{subject.id}} </td>
                <td> {{subject.name}} </td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_subject" data-id="{{subject.id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_subject" data-id="{{subject.id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_subject">New Subject</button> </td>
            </tr>
        </tbody>
    </table>
 </div>

    <script src="{{ url_for('static', filename='js/subject.js') }}"></script>

{% endblock %}
